<span class="error_message"><%= flash[:alert] %></span>
<%= form_for @recipe do |f| %>
  <p><%= f.file_field :photo %></p>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :kitchen_id %></p>
  <p><%= f.collection_select :kitchen_id, @kitchens, :id, :name %></p>

  <p><%= f.label :food_type_id %></p>
  <p><%= f.collection_select :food_type_id, @food_types, :id, :name %></p>

  <p><%= f.label :preference_id %></p>
  <p><%= f.collection_select :preference_id, @preferences, :id, :name %></p>

  <p><%= f.label :servings %></p>
  <p><%= f.number_field :servings %></p>

  <p><%= f.label :cook_time %></p>
  <p><%= f.number_field :cook_time %></p>

  <p><%= f.label :difficulty %></p>
  <p><%= f.text_field :difficulty %></p>

  <p><%= f.label :ingredients %></p>
  <p><%= f.text_area :ingredients %></p>

  <p><%= f.label :step_by_step %></p>
  <p><%= f.text_area :step_by_step %></p>

  <p><%= f.submit submit_text %></p>
<% end %>
