<span class="error_message"><%= flash[:alert] %></span>
<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :kitchen_id %>
  <%= f.collection_select :kitchen_id, @kitchens, :id, :name %>

  <%= f.label :food_type %>
  <%= f.text_field :food_type %>

  <%= f.label :preference %>
  <%= f.text_field :preference %>

  <%= f.label :servings %>
  <%= f.number_field :servings %>

  <%= f.label :cook_time %>
  <%= f.number_field :cook_time %>

  <%= f.label :difficulty %>
  <%= f.text_field :difficulty %>

  <%= f.label :ingredients %>
  <%= f.text_area :ingredients %>

  <%= f.label :step_by_step %>
  <%= f.text_area :step_by_step %>

  <%= f.submit submit_text %>
<% end %>
