<h3>Receitas</h3>
<h3><%= link_to recipe.name, recipe %></h3>
<p><%= image_tag recipe.photo.url(:medium) %><p>
<p><%= recipe.preference.name %></p>
<p><%= recipe.food_type.name %></p>
<p><%= recipe.kitchen.name %></p>
<p><%= recipe.difficulty %></p>
