<h2><%= @recipe.name %></h2>
<hr>
<p><%= image_tag @recipe.photo.url(:medium) %><p>
<p><strong>Cozinha:</strong> <%= @recipe.kitchen.name%></p>
<p><strong>Tipo de comida:</strong> <%= @recipe.food_type.name %></p>
<p><strong>Preferência de Comida:</strong> <%= @recipe.preference.name %></p>
<p><strong>Serve:</strong> <%= @recipe.servings %></p>
<p><strong>Tempo de preparo:</strong> <%= @recipe.cook_time %></p>
<p><strong>Nível de Dificuldade:</strong> <%= @recipe.difficulty %></p>
<p><strong>Ingredientes:</strong> <%= @recipe.ingredients %></p>
<p><strong>Passo a Passo:</strong> <%= @recipe.step_by_step %></p>

<% if current_user.id == @recipe.user_id %>
  <p><%= link_to 'Deletar', @recipe,  method: :delete,
                                      data: { confirm: 'Are you sure?' } %> </p>
  <p><%= link_to 'Editar', edit_recipe_path(@recipe) %></p>
<% end %>

<% if current_user %>
  <%=link_to 'Adicionar aos Favoritos', favorite_recipe_path(@recipe,
                                        type: 'favorite'), method: :put %>
  <%=link_to 'Remover dos Favoritos', favorite_recipe_path(@recipe,
                                        type: 'unfavorite'), method: :put %>
<% end %>
