<h2><%= @user.name %></h2>
<hr>
<p><strong>Cidade:</strong> <%= @user.city%></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Facebook:</strong> <%= @user.facebook %></p>
<p><strong>Twitter:</strong> <%= @user.twitter %></p>
<p><strong>Preferência de Comida:</strong> <%= @user.preference.name %></p>
