<h1>Social Recipes</h1>
<section id="recipes">
  <% @recipes.each do |recipe| %>
      <div class="recipes">
        <h3><%= link_to recipe.name, recipe %></h3>
        <p><%= recipe.preference %></p>
        <p><%= recipe.food_type %></p>
        <p><%= recipe.kitchen.name %></p>
        <p><%= recipe.difficulty %></p>
      </div>
      <hr>
  <% end %>
</section>
