<h1>Social Recipes</h1>
<section id="recipes">
  <% @recipes.each do |recipe| %>
      <div class="recipes">
        <h3><%= link_to recipe.name, recipe %></h3>
        <p><%= recipe.preference.name %></p>
        <p><%= recipe.food_type.name %></p>
        <p><%= recipe.kitchen.name %></p>
        <p><%= recipe.difficulty %></p>
      </div>
      <hr>
  <% end %>
</section>
<aside>
  <h4>Cozinhas</h4>
  <% @kitchens.each do |kitchen| %>
    <p><%= link_to kitchen.name, kitchen %></p>
  <% end %>
</aside>
<hr>
<aside>
  <h4>Tipos</h4>
  <% @food_types.each do |food_type| %>
    <p><%= link_to food_type.name, food_type %></p>
  <% end %>
</aside>
<hr>
<aside>
<h4>Preferências</h4>
<% @preferences.each do |preference| %>
  <p><%= link_to preference.name, preference %></p>
<% end %>
</aside>
